<%= render "shared/contents-header" %>

 <div class='user-contents'>
    <h2 class='title'>ユーザー一覧</h2>
    <ul class='user-lists'>
    
      <% @users.each do |user| %>
      <li class='list'>
        <%= link_to user_path(user.id) do %>
        <div class='user-img-content'>
          <%= image_tag user.profile.image.variant(resize:'300x300'), class: "user-img" if user.profile.image.attached?  %>

        </div>
        <div class='user-info'>
          <h3 class='user-name'>
            <%= user.nickname %>
          </h3>
          <div class='user-language'>
            <span><%= user.profile.language1.name %>言語</span>
            <span><%= user.profile.language2.name %>言語</span>
            <span><%= user.profile.language3.name %>言語</span>
          </div>
            <div class='user-role'>
            <%= user.profile.role.name %>
            </div>
            <div class='star-btn'>
              <%# <%= image_tag "star.png", class:"star-icon" %> %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>

<%= render "shared/contents-footer" %>