<%= render "shared/contents-header" %>

<h1>
  検索結果
</h1>

<% if @results.length !=0 %>
  <% @results.each do |result| %>
  <% unless current_user.id == result.id%>

      <li class='list'>
        <%= link_to user_path(result.id) do %>
        <div class='user-img-content'>

        <%if result.profile.image.present? %>

          <%= image_tag result.profile.image.variant(resize:'300x300'), class: "user-img" if result.profile.image.attached? %>

        <% elsif result.gender == "male" %>

           <%= image_tag 'mens_silhouette.png', size: "300x300", class: "user-img" %>

        <% else %>

           <%= image_tag 'radies_silhouette.png', size: "300x300", class: "user-img" %>

        <% end %>

        </div>
        <div class='user-info'>
          <h3 class='user-name'>
            <%= result.nickname %>
          </h3>
          <div class='user-language'>
            <span><%= result.profile.language1.name %>言語</span>
            <span><%= result.profile.language2.name %>言語</span>
            <span><%= result.profile.language3.name %>言語</span>
          </div>
            <div class='user-role'>
            <%= result.profile.role.name %>
            </div>
            <div class='star-btn'>
              <%# <%= image_tag "star.png", class:"star-icon" %> %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>

        <% end %>
  <% end %>
<% else %>
  該当するユーザーは存在しませんでした。
<% end %>
<br>

<%= render "shared/contents-footer" %>