<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>

<% notice_count %>

  <div class='nav'>
    <div class='nav-upper'>
      <ul class='lists-upper'>
        <li><a class="top-logo" href="#">🌙</a></li>
        <li><a class="top-first" href="#">🌑</a></li> 
        <li><a class="top-second" href="#">🌘</a></li>
        <li><a class="top-third" href="#">🌗</a></li> 
        <li><a class="top-fourth" href="#">🌖</a></li>
        <li><a class="top-fifth" href="#">🌕</a></li> 
        <li><a class="top-sixth" href="#">🌔</a></li>
        <li><a class="top-seventh" href="#">🌓</a></li>
        <li><a class="top-search" href="#">🌒</a></li>
        <li><a class="top-second-logo" href="#">🌚</a></li> 
      </ul>
    </div>
    <div class='nav-lower-lock' id='nav-lower' >
      <div class='nav-lower'>
        <div class='lower-contents'>
          <div class='header-title'>eMatch Pro</div>
            <ul class='lists-lower'>

              <li><%= link_to 'User list', users_path, class: "header-link" %></li>

              <li class="header-notice">

              <% if @notice_count >= 100 %>
              
              <div class="notice-box">
              <span class="notice_maxcount"><%= "99+" %></span>
              </div>

              <% elsif @notice_count != 0 %>

               <div class="notice-box">
              <span class="notice_count"><%= @notice_count %></span>
              </div>

              <% end %>
              
              <%= link_to 'Notice', notifications_path(current_user.id), class: "header-link header-notice" %></li>
          
              <li><%= link_to 'Log out', destroy_user_session_path, class: "header-link",  method: :delete %></li>

              <li class="blue-point"><%= link_to current_user.nickname, user_path(current_user.id) , class: "my-point-font " %> <span class="header-my-link">: My page</span></li>

    
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>