<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>

<% notice_count %>

  <div class='nav'>
    <div class='nav-upper'>
      <ul class='lists-upper'>
        <li><a class="top-logo" href="#">🌙</a></li>
        <div class="top-list">
          <input id="menu" type="checkbox" />
          <label for="menu" class="open">
            <i class="fas fa-bars"></i>
          </label>
          <label for="menu" class="back"></label>
          <aside>
            <label for="menu" class="close">✖</label>
            <li><a class="top-btn" href="#">1</a></li> 
            <li><a class="top-btn" href="#">2</a></li>
            <li><a class="top-btn" href="#">3</a></li> 
            <li><a class="top-btn" href="#">4</a></li>
            <li><a class="top-btn" href="#">5</a></li> 
            <li><a class="top-btn" href="#">6</a></li>
            <li><a class="top-btn" href="#">7</a></li>
            <li><a class="top-btn" href="#">8</a></li>
          </aside>
        </div>
          <li><a class="top-second-logo" href="#">🌚</a></li> 
      </ul>
    </div>
    <div class='nav-lower-lock' id='nav-lower' >
      <div class='nav-lower'>
        <div class='lower-contents'>

          <%= link_to 'eMatch Pro', users_path, class: 'header-title' %>

          <ul class='lists-lower'>

            <input class="menu-v" id="menu-v" type="checkbox" />
            <label for="menu-v" class="open-v">
              <i class="fas fa-angle-down"></i></label>
            <label for="menu-v" class="back-v"></label>

            <div class="v-menu-list">
              <label for="menu-v" class="close-v"></label>

              <li><%= link_to 'User list', users_path, class: "header-link" %></li>

              <li class="header-notice">

              <% if @notice_count >= 100 %>
              
              <div class="notice-box">
              <span class="notice_maxcount"><%= "99+" %></span>
              </div>

              <% elsif @notice_count != 0 %>

                <div class="notice-box">
              <span class="notice_count"><%= @notice_count %></span>
              </div>

              <% end %>
              
              <%= link_to 'Notice', notifications_path(current_user.id), class: "header-link header-notice" %></li>
          
              <li><%= link_to 'Log out', destroy_user_session_path, class: "header-link",  method: :delete %></li>

            </div>

            <li class="blue-point"><%= link_to current_user.nickname, user_path(current_user.id) , class: "my-point-font " %> <span class="header-my-link">: My page</span></li>

  
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>