 <div class='footer'>
  <div class='footer-contents'>

    <div class='match-details'>
      <h2 class='footer-content-head'>Match proについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match pro利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match proガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match proロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> 
        <li><%= link_to '退会', "#", class: "footer-link" %></li>
      </ul>
    </div>

    <div class='footer-logo'>
     <p>© Match pro</p>
    </div>
  </div>
</div>