<div class='footer'>

  <div class='main-text'><span class=text-black>すべてを変えるパワー。</span> あらゆる部分を極限まで高めた
Macがやってきました。Mac史上最高のパフォーマンス、
拡張性、システム構成の柔軟さ。Mac Proは、幅広いジャンルの
プロユーザーが、できることの限界を軽々と超えていける
ように作られたシステムです。
  </div>

  <div class='footer-contents'>

    <div class='match-details'>
      <h2 class='footer-content-head'>Match proについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match pro利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match proガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match proロゴ利用ガイドライン', "#", class: "footer-link" %></li>
      </ul>
    </div>

    <div class='footer-logo'>
     <p>© Match pro</p>
    </div>
  </div>  
</div>