<div class='footer'>

  <div class='main-text'><span class=text-black>全てのエンジニアに捧ぐ。</span> エンジニア同士の素敵な巡り合いを追求したアプリがやってきました。マッチング史上最高の、エンジニア向けマッチングサイト。eMatch Proは、これから出会う貴方の目指す将来像にMatchした仲間と共に協力し、高め合えるように作られたアプリです。
  </div>

  <div class='footer-contents'>

    <div class='match-details'>
      <h2 class='footer-content-head'>Match proについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match pro利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match proガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'Match proロゴ利用ガイドライン', "#", class: "footer-link" %></li>
      </ul>
    </div>

    <div class='footer-logo'>
     <p>© Match pro</p>
    </div>
  </div>  
</div>