<%= render "shared/front-header"%>

<div class ='main-contents'>

  <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>

    <div class='contents'>
      <div class='contents-indication'>
        <div class='form-header'>
          <h1 class='form-header-text'>
            会員情報入力
          </h1>
        </div>

        <%= link_to  user_facebook_omniauth_authorize_path, method: :post do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>

        <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
         <i class="fab fa-google"></i>
        <% end %>

        <%= link_to user_twitter_omniauth_authorize_path, method: :post do %>
          <i class="fab fa-twitter"></i>
        <% end %>

        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">メールアドレス</label>
          </div>

          <%= f.email_field :email, class:"input-default", id:"email", placeholder:"Enter your email address", autofocus: true %>

        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">パスワード</label>
          </div>

          <%= f.password_field :password, class:"input-default", id:"password", placeholder:"Enter your password" %>

        </div>

        <div class='login-btn-'>

          <%= f.submit "ログイン" ,class:"login-btn" %>

        </div>
      </div>
    </div>

  <% end %>

</div>

<%= render "shared/front-footer"%>
